@model IEnumerable<tp_sveikatele.Models.SleepL>
@using System.Globalization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h3>Jūsų miego suvestinė</h3>
    <div class="main-content-lst">
        <table class="entity-list table table-bordered">
            <thead>
                <tr>
                    <th>Pradžia</th>
                    <th>Pabaiga</th>
                    <th>Trukmė</th>
                    <th>Įvertinimas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Start.ToString("MM-dd HH:mm", CultureInfo.InvariantCulture)</td>
                        <td>@item.End.ToString("MM-dd HH:mm", CultureInfo.InvariantCulture)</td>
                        <td>@item.Duration</td>
                        <td>@item.RatingStars</td>
                        <td>
                            <div style="display: flex; justify-content: space-evenly;">
                                <button onclick="openEditModal('@item.Start', '@item.End', @item.Rating)" class="nav-link btn btn-outline-primary">Redaguoti</button>
                                <form method="post" action="/Sleep/Delete" style="display:inline;">
                                    <input type="hidden" name="start" value="@item.Start.ToString("o")">
                                    <input type="hidden" name="end" value="@item.End.ToString("o")">
                                    <button type="submit" class="nav-link btn btn-outline-danger">Ištrinti</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="nav-link btn btn-outline-primary" href="#" data-bs-toggle="modal" data-bs-target="#sleepModal">Pridėti</a>
    </div>

    <div class="modal fade" id="sleepModal" tabindex="-1" aria-labelledby="sleepModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sleepModalLabel">Pridėti įrašą</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Sleep/Create">
                        <div class="mb-3">
                            <label for="start" class="form-label">Pradžia:</label>
                            <input type="datetime-local" class="form-control" id="start" name="start" required>
                        </div>
                        <div class="mb-3">
                            <label for="end" class="form-label">Pabaiga:</label>
                            <input type="datetime-local" class="form-control" id="end" name="end" required>
                        </div>
                        <div class="mb-3">
                            <input type="radio" id="rating5" name="rating" value="5">
                            <label for="rating5">★★★★★ - puikus miegas</label><br>
                            <input type="radio" id="rating4" name="rating" value="4">
                            <label for="rating4">★★★★ - šiaip gerai, tik katinas triukšmavo</label><br>
                            <input type="radio" id="rating3" name="rating" value="3">
                            <label for="rating3">★★★ - OK</label><br>
                            <input type="radio" id="rating2" name="rating" value="2">
                            <label for="rating2">★★ - prastai</label><br>
                            <input type="radio" id="rating1" name="rating" value="1">
                            <label for="rating1">★ - visai nemiegojau, kankino algorai</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Pridėti</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sleepEditModal" tabindex="-1" aria-labelledby="sleepEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sleepEditModalLabel">Redaguoti įrašą</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Sleep/Edit">
                        <input type="hidden" id="oldStart" name="oldStart">
                        <input type="hidden" id="oldEnd" name="oldEnd">
                        <div class="mb-3">
                            <label for="editStart" class="form-label">Pradžia:</label>
                            <input type="datetime-local" class="form-control" id="editStart" name="start" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEnd" class="form-label">Pabaiga:</label>
                            <input type="datetime-local" class="form-control" id="editEnd" name="end" required>
                        </div>
                        <div class="mb-3">
                            <input type="radio" id="editRating5" name="rating" value="5">
                            <label for="editRating5">★★★★★ - puikus miegas</label><br>
                            <input type="radio" id="editRating4" name="rating" value="4">
                            <label for="editRating4">★★★★ - šiaip gerai, tik katinas triukšmavo</label><br>
                            <input type="radio" id="editRating3" name="rating" value="3">
                            <label for="editRating3">★★★ - OK</label><br>
                            <input type="radio" id="editRating2" name="rating" value="2">
                            <label for="editRating2">★★ - prastai</label><br>
                            <input type="radio" id="editRating1" name="rating" value="1">
                            <label for="editRating1">★ - visai nemiegojau, kankino algorai</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Išsaugoti pakeitimus</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openEditModal(start, end, rating) {
            var formattedStart = start.replace(' ', 'T').slice(0, 16);
            var formattedEnd = end.replace(' ', 'T').slice(0, 16);

            document.getElementById("oldStart").value = start;
            document.getElementById("oldEnd").value = end;
            document.getElementById("editStart").value = formattedStart;
            document.getElementById("editEnd").value = formattedEnd;
            document.querySelectorAll('input[name="rating"]').forEach((el) => el.checked = false);
            document.getElementById("editRating" + rating).checked = true;

            var myModal = new bootstrap.Modal(document.getElementById("sleepEditModal"), {});
            myModal.show();
        }
    </script>
</body>
</html>
